<!DOCTYPE html>
{% import 'macro.html' as macros %}

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>To Do App</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.css')}}">
  </head>
  <body>
    {{ macros.upperMenu(user.getAdmin()) }}

    <table id="listUsers">
      <thead>
        <tr>
          <th>Username</th>
          <th>Blocked</th>
        </tr>
      </thead>
      <tbody>
        {% set state={True:'🔒',False:'🔓'} %}
        {% set username=user.getUsername() %}
        {% set key=0 %}
        {% for person in users %}
        {% set username=person.getUsername() %}
        {% if (username != user.getUsername()) %}
        {% set key = (key + 1) %}
        <tr>
          <td>{{ username }}</td>
          <td><a href="/blocked/{{key}}"> <button type="button" name="button" id="blockUser">{{ state[person.getBlocked()] }}</button> </a></td>
        </tr>
        {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
